html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, p, table, li, ul, img {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

.header {
    text-align: center;
}

.table {
	background: #531f00;
    width: 100%;
    height: 15px;
    position: absolute;
    margin-top: 190px;
}

.monitor {
	margin-bottom: 20px;
    margin-top: 10px;
}

.tv {
    width: 230px;
    height: 170px;
    background: #000000;
    margin: 0 auto;    
    position: relative;
}

.tv .screen {
	width: 210px;
    height: 150px;
    background-color: #73D8FA;
    display: inline-block;
    position: absolute;
    margin: 10px;
    display: none;

}

.tv-part {
    width: 20px;
    height: 10px;
    background: #000000;
    margin: 0 auto;
}

.tv-part2 {
    width: 70px;
    height: 10px;
    background: #000000;
    margin: 0 auto;
}

.playButton {
	border: 0;
    padding: 10px;
    width: 100px;
    background: #ffffff;
}

.remote-control {
  margin: 0 auto;
  width: 100px;
}

.screen-buttons {
    margin: 0 auto;
    width: 165px;
    padding-top: 10px;
}

.screen-button {
    border: 0;
    padding: 5px;
    width: 80px;
    background: #ffffff;
    font-size: 10px;
    margin-top: 5px;
}


.color-screen-buttons {
	padding-top: 5px;
    width: 120px;
    margin: 0 auto;
}

.color-wall-buttons {
    padding-top: 5px;
    width: 120px;
    margin: 0 auto;
}

.color-screen-button {
	width: 25px;
    height: 25px;
    margin: 0 auto;
    display: none;
    border: 1px solid white;
}

.color-wall-button {
	width: 25px;
    height: 25px;
    margin: 0 auto;
    display: none;
    border: 1px solid white;
}

.screen-text {
	display: none;
    font-size: 10px;
    padding: 2px 0px;
}
.wall-text {
	display: none;
    font-size: 10px;
    padding: 2px 0px;

}

#blue {
	background: #73D8FA;
}

#red {
	background: #f22e2a;
}

#yellow {
	background: #f1eb40;
}

#green {
    background: #59f140;
}

#wallBlue {
	background: #b5f4ff;
}

#wallRed {
	background: #ffb5b5;
}

#wallYellow {
	background: #fff5b5;
}

#wallGreen {
    background: #caffb5;
}

.footer {
    margin-top: 10px;
}

.footer-text {
    text-align: right;
    padding-right: 50px;
}

@media screen and (min-width: 40em) {
    
    .table {
        margin-top: 280px;
        height: 20px;
    }
    
    .monitor {
        margin-bottom: 40px;
    }

    .tv {
        width: 330px;
        height: 250px;
    }

    .tv .screen {
        width: 300px;
        height: 220px;
        margin: 15px;
    }

    .tv-part {
        width: 30px;
        height: 15px;
    }

    .tv-part2 {
        width: 100px;
        height: 15px;
    }
    
    .screen-buttons {
        width: 200px;
        padding-top: 6px;
    }

    .screen-button {
        padding: 10px;
        width: 200px;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .color-screen-buttons {
        width: 120px;
        padding-top: 10px;
    }

    .color-wall-buttons {
        width: 120px;
        padding-top: 10px;
    }
    
    .color-screen-button {
        width: 25px;
        height: 25px;
    }

    .color-wall-button {
        width: 25px;
        height: 25px;
    }
    
    .screen-text {
	   font-size: 12px;
    }
    
    .wall-text {
	   font-size: 12px;
    }
}

@media screen and (min-width: 61.25em) {

    .table {
        margin-top: 440px;
        height: 25px;
    }
    
    .monitor {
        margin-bottom: 40px;
    }

    .tv {
        width: 530px;
        height: 400px;
    }

    .tv .screen {
        width: 490px;
        height: 360px;
        margin: 20px;
    }

    .tv-part {
        width: 40px;
        height: 20px;
    }

    .tv-part2 {
        width: 150px;
        height: 20px;
    }
    
    .screen-buttons {
        width: 350px;
        padding-top: 30px;
    }

    .screen-button {
        padding: 10px;
        width: 350px;
        font-size: 13px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 64em) {

    .table {
        margin-top: 440px;
        height: 25px;
    }
    
    .monitor {
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .tv {
        width: 530px;
        height: 400px;
    }

    .tv .screen {
        width: 490px;
        height: 360px;
        margin: 20px;
    }

    .tv-part {
        width: 40px;
        height: 20px;
    }

    .tv-part2 {
        width: 150px;
        height: 20px;
    }
}
